$Color-Card1: hsl(180, 62%, 55%);
$Color-Card2: hsl(0, 78%, 62%);
$Color-Card3: hsl(34, 97%, 64%);
$Color-Card4: hsl(212, 86%, 64%);
$Color-Letra: hsl(234, 12%, 34%);
$Color-Letra-Parrafo: hsl(229, 6%, 66%);
$Color-Fondo: hsl(0, 0%, 98%);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: $Color-Fondo;
    margin: auto;
    padding: 0 2rem;
    font-family: "Poppins", sans-serif;
    padding-top: 7rem;
    main {
        max-width: 380px;
        min-width: 300px;
        margin: auto;
    }
}
.section-first {
    text-align: center;
    h1 {
        color: $Color-Letra-Parrafo;
        font-size: 2.5rem;
        font-weight: 200;
        margin-bottom: 0.5rem;
    }
    h2 {
        color: $Color-Letra;
        font-weight: 600;
        margin-bottom: 1.5rem;
        font-size: 2.5rem;
    }
    p {
        color: $Color-Letra-Parrafo;
        font-size: 15.5px;
    }
    margin-bottom: 6rem;
}
.card {
    border-radius: 0.8rem;
    margin: 4rem 0;
    padding: 2rem 3rem;
    box-shadow: 2px 8px 18px -4px $Color-Letra-Parrafo;
    h2 {
        color: $Color-Letra;
        margin-bottom: 0.5rem;
        font-size: 2.3rem;
    }
    p {
        color: $Color-Letra-Parrafo;
        margin-bottom: 4rem;
        font-size: 13.5px;
        line-height: 3rem;
    }
    figure {
        display: flex;
        justify-content: end;
        margin-bottom: 1.5rem;
    }
}

section:nth-child(2) {
    border-top: 6px solid $Color-Card1;
}

section:nth-child(3) {
    border-top: 6px solid $Color-Card2;
}

section:nth-child(4) {
    border-top: 6px solid $Color-Card3;
}

section:nth-child(5) {
    border-top: 6px solid $Color-Card4;
}

footer{
    margin: 3rem 0;
    .attribution {
        font-size: 11px;
        text-align: center;
    }
    
    .attribution a {
        color: hsl(228, 45%, 44%);
    }
}
@media (min-width: 1224px){
    body{
        display: flex;
        align-items: center;
        flex-direction: column;
        main{
            margin: 0;
            height: 850px;
            transform: translateX(-50px);
        }
    }
    .section-first{
        width: 550px;  
        h1, h2{
            font-size: 3.8rem;
        }
    }
    .card{
        width: 350px;
        p{
            font-size: 14px;
        }
    }
    section:nth-child(2){
        transform: translate(-310px, 160px);
    }
    section:nth-child(3){
        transform: translate(90px, -280px);
    }
    section:nth-child(4){
        transform: translate(90px, -280px);
       
    }
    section:nth-child(5){
        transform: translate(480px, -750px);
    }
    footer{
        margin-left: 4rem;
    }
}